@tailwind base;
@tailwind components;
@tailwind utilities;

input::placeholder {
    font-size: 0.75rem;
}

.add-fund-home{
    border: 1.5px solid rgb(22 163 74);
}

.feature-box{
    border: 1.5px solid rgb(53, 53, 53) ;
}

.act-btn{
    border: 1.3px solid rgb(123, 120, 120);
    cursor: pointer;
}

.input-tail{
    width: 10px;
}

.stacting-pag1-card1-btn{
    border: 4px solid #29ABE2;
}

.stacting-pag1-card2-btn{
    border: 4px solid #4BAF2A;
}

.stacting-pag1-card3-btn{
    border: 4px solid #F78A1E;
}