@tailwind base;
@tailwind components;
@tailwind utilities;

input::placeholder {
    font-size: 0.75rem;
}

.dashboard-username{
    border: 1.5px solid rgb(163, 158, 158);
}

.dashboard-show-more-btn{
    border: 2px solid #FFFFFF80 ;
}

.add-fund-home{
    border: 1.5px solid rgb(22 163 74);
}

.feature-box{
    border: 1.5px solid rgb(53, 53, 53) ;
}

.act-btn{
    border: 1.3px solid rgb(123, 120, 120);
    cursor: pointer;
}

.input-tail{
    width: 10px;
}

.stacting-pag1-card1-btn{
    border: 4px solid #29ABE2;
}

.stacting-pag1-card2-btn{
    border: 4px solid #4BAF2A;
}

.stacting-pag1-card3-btn{
    border: 4px solid #F78A1E;
}

.stacking-summary-card{
    border-bottom: 1.5px solid #FFFFFF80 ;
}

.big-checkbox {
    transform: scale(1.5); 
    transform-origin: top left; 
    margin-right: 0.5rem; 
  }

  select option {
    background-color: #fff;
    color: #000;
  }

  .stacking-summary-select{
    outline: none;
  }
  .stacking-summary-select > option{
    text-align: left;
  }

  .flight-border{
    border: 2 solid #fbbf24;
  }


::-webkit-scrollbar {
    width: 4px; 
    height: 4px; 
    border-radius: 50%;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #535353;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #848484; 
    border-radius: 4px; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
  }


.glass-background-reward-page {
/* From https://css.glass */
background: rgba(255, 255, 255, 0.17);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.7px);
-webkit-backdrop-filter: blur(4.7px);
border: 1px solid rgba(255, 255, 255, 0.92);
}

  .loader {
    border: 3.5px solid white; /* Light grey */
    border-top: 3.5px solid rgb(96, 95, 95); /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1.5s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }