.forgotpassword-whole {
    background: radial-gradient(circle, rgba(30, 50, 30, 1) 20%, black 80%);
    color: white;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.forgot-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
    height: 390px;

}

.forgot-password-container input {
    width: 600px;
    margin: 10px;
    border: none;
    text-align: center;
    height: 45px;
    border-radius: 13px;
    border: none;
    font-size: 14px;
    margin: 0 auto;
    text-align: left; 
    margin: 10px 0; 
}

.forgot-password-container button {
    width: 210px;
    height: 50px;
    background-color: #4BAF2A;
    color: white;
    border-radius: 13px;
    font-family: Inter;
    font-weight: 700;
    font-size: 25px;
    line-height: 38.73px;
    letter-spacing: 0%;
    margin-top: 24px;
}

.forgot-password-container button:hover {
    background-color: #218838;
}

.logo-forget-password {
    margin-top: 82px;
    text-align: center;

}