.social-login-signin{
    margin-top: 30px;
}

.sign-in-text{
    font-family: Inter;
font-weight: 700;
font-size: 32px;
line-height: 38.73px;
letter-spacing: 0%;

}

.divider-signin-form{
margin-top: 20px;
}