/* styles.css */

body {
    background: radial-gradient(circle, rgba(30, 50, 30, 1) 20%, black 80%);
    color: white;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.signup-form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
}

.logo-container {
    margin-top:30px ;
}

.login-container {
    width: 90%;               
    margin: 0 auto;           
    padding: 20px;            
  }
  
  
  .logo-img {
    width: 150px;      
    max-width: 100%;  
    height: auto;
  }

.sign-in-text {
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.social-login {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-btn {
    width: 120px;
    height: 40px;
    border-radius: 13px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.facebook-btn {
    background-color: #3b5998;
    color: white;
}

.google-btn {
    background-color: #db4437;
    color: white;
}

.divider-signup-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.divider-signup-form::before,
.divider-signup-form::after {
    content: "";
    flex: 1;
    height: 1px;
    margin: 0 10px;
}

.divider {
    font-size: large;
    text-transform: uppercase;
    position: relative;
}

.divider::before,
.divider::after {
    content: "";
    position: absolute;
    width: 40%;
    height: 1px;
    top: 50%;
}

.divider::before {
    left: 0;
}

.divider::after {
    right: 0;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-control {
    width: 90%;
    height: 45px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    margin: 0 auto;
}

.form-group {
    max-width: 450px;
    width: 100%;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    width: 100%;
    padding: 12px;
    border-radius: 13px;
    border: none;
}

button {
    width: 210px;
    height: 40px;
    top: 632px;
    left: 607px;
    border-radius: 13px;
    background: #4BAF2A;

}

.submit-btn {
    width: 210px;
    height: 50px;
    background-color: #4BAF2A;
    color: white;
    border-radius: 13px;
    font-family: Inter;
    font-weight: 700;
    font-size: 25px;
    line-height: 38.73px;
    letter-spacing: 0%;
    margin-top: 24px;
}

.submit-btn:hover {
    background-color: #218838;
}

.login-link {
    margin-top: 15px;
}

.login-link a {
    color: yellow;
    font-weight: bold;
}

.terms {
    font-size: 12px;
    margin-top: 10px;
}

.terms a {
    color: yellow;
}

.crypto-icon {
    position: absolute;
    font-size: 30px;
    opacity: 0.8;
    transition: transform 0.3s;
}

.crypto-icon:hover {
    transform: scale(1.1);
}

.btc {
    left: 5%;
    top: 30%;
    color: gold;
}

.eth {
    left: 10%;
    bottom: 20%;
    color: purple;
}

.doge {
    right: 10%;
    top: 25%;
    color: red;
}

.bnb {
    right: 10%;
    bottom: 20%;
    color: green;
}